

.container{
    background-color: black;
    height: 100vh;
}

#userInput{
    font-family: "Madimi One", sans-serif;

}
.hed1{
    font-family: "Madimi One", sans-serif;
}

button {
    background-color: red;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
    margin-left: 75px;
    border-radius: 15px;
    box-shadow: 25px;
}


button:hover {
    background-color: blue;
    border-radius: 20;
}
